<div class="digg_pagination">
<table><%= will_paginate @students %>
<tr>
  <th>Course</th>
  <th>Name</th>
  <th>Url</th>
</tr>
      <% @students.each do |s| %>
        <% s.urls.each do |u| %>
          <tr>
            <td><%= s.course %></td>
            <td><%= s.name %></td>
            <td><a href="<%= u.url %>" title="<%= s.name %>"><%= u.url %></a></td>
          </tr><br />
        <% end %>
      <% end %>
</table>
</div>